{% extends 'boards/base.html' %}

{% block body %}
    <h1>DETAIL</h1>
    <hr>
    <h2>{{ board.pk }}번 글</h2>
    <p>제목: {{ board.title }}</p>
    <p>내용: {{ board.content }}</p>
    <p>작성 시각: {{ board.created_at }}</p>
    <p>수정 시각: {{ board.updated_at }}</p>
    <hr>

    <h3>댓글</h3>
    {% for comment in comments|dictsortreversed:'pk' %} <!-- pk를 기준으로 최신 댓글이 상단에 위치하도록 -->
        <p><b>{{ comment.user }}님의 댓글: {{ comment.content }}</b></p>
        {% if user == comment.user %} <!-- 댓글을 쓴 유저에게만 댓글 삭제 버튼이 보이도록 -->
            <form action="{% url 'boards:comments_delete' board.pk comment.pk %}" method="POST">
            {% csrf_token %}
                <input type="submit" value="댓글삭제">
            </form>
        {% endif %}
    {% empty %}
        <p><b>댓글이 없네유 ㅠㅠㅠㅠㅠㅠ</b></p>
    {% endfor %}
    <hr>

    <h3>댓글 작성</h3>
    {% if user.is_authenticated %}
        <form action="{% url 'boards:comments_create' board.pk %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="댓글작성">
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">댓글쓰려면 로그인</a>
    {% endif %}

    <hr>
    <a href="{% url 'boards:index' %}">[메인 페이지]</a>

    {% if user == board.user %} <!-- 게시글을 작성한 유저만 수정, 삭제할 수 있도록 -->
        <a href="{% url 'boards:update' board.pk %}">[수정]</a><br>
        <form action="{% url 'boards:delete' board.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
    {% endif %}
{% endblock %}