{% extends 'boards/base.html' %}

{% block body %}
    <h1>DETAIL</h1>
    <hr>
    <h2>{{ board.pk }}번 글</h2>
    <p>제목: {{ board.title }}</p>
    <p>내용: {{ board.content }}</p>
    <p>작성 시각: {{ board.created_at }}</p>
    <p>수정 시각: {{ board.updated_at }}</p>
    <hr>
    <a href="{% url 'boards:index' %}">[메인 페이지]</a>
    <a href="{% url 'boards:update' board.pk %}">[수정]</a><br>
    <form action="{% url 'boards:delete' board.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>
{% endblock %}