{% extends 'boards/base.html' %}

{% block body %}
<h1 class="text-center">EDIT</h1>
<hr>
    <p><b>기존 이미지</b></p>
    {% if board.image %}
        <img src="{{ board.image.url }}" alt="{{ board.image }}">
    {% endif %}
<hr>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title" value="{{ board.title }}"><br>
    <label for="content">Content</label><br>
    <textarea name="content" id="content" cols="30" rows="10">{{ board.content }}</textarea><br>
    <label for="image">Image</label>
    <input type="file" name="image" id="image" accept="image/*"><br>
    <input type="submit" value="Submit">
</form>
<a href="{% url 'boards:index' %}">[메인 페이지]</a>
{% endblock %}