{% extends 'bs/base.html' %}
{% load bootstrap4 %}
{% block body %}

{% if request.resolver_match.url_name == 'signup' %}
<h1 class="text-center">Sign Up</h1>
{% elif request.resolver_match.url_name == 'edit' %}
<h1 class="text-center">Edit User</h1>
{% else %}
<h1 class="text-center">Edit Password</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        {% if request.resolver_match.url_name == 'signup' %}
        <button type="submit" class="btn btn-primary">Sign Up</button>
        {% elif request.resolver_match.url_name == 'login' %}
        <button type="submit" class="btn btn-primary">Sign In</button>
        {% elif request.resolver_match.url_name == 'edit' %}
        <button type="submit" class="btn btn-primary">Edit User</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Edit Password</button>
        {% endif %}
    {% endbuttons %}
</form>
{% endblock %}