<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>로또 회차 번호 입력</h1>
    <form action="/lotto_result">
        <div>
            <label>회차</label>
            <input type="text" name="lotto_round"><br>
        </div>
        <div>
            <label>내 번호</label>
            <input type="text" name="my_numbers">
        </div>
            <input type="submit">
    </form>
</body>
</html>