<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>BAEK'S PICK!</h1>
    <img src="https://picsum.photos/300/160" alt="random picture">
    <img src="https://picsum.photos/300/161" alt="random picture">
    <img src="https://picsum.photos/300/162" alt="random picture">
    <img src="https://picsum.photos/300/163" alt="random picture">
    <img src="https://picsum.photos/300/164" alt="random picture">
    <img src="https://picsum.photos/300/165" alt="random picture">
    <img src="https://picsum.photos/300/166" alt="random picture">
    <img src="https://picsum.photos/300/167" alt="random picture">
    <img src="https://picsum.photos/300/168" alt="random picture">
    <img src="https://picsum.photos/300/169" alt="random picture">
    <img src="https://picsum.photos/300/170" alt="random picture">
    <img src="https://picsum.photos/300/171" alt="random picture">
    <img src="https://picsum.photos/300/172" alt="random picture">
    <img src="https://picsum.photos/300/173" alt="random picture">
    <img src="https://picsum.photos/300/174" alt="random picture">
    <img src="https://picsum.photos/300/175" alt="random picture">
</body>
</html>