{% extends 'bs/base.html' %}
{% block body %}
<h1 class="text-center">HISTORY</h1>
<hr>
    {% for history in bss %}
    <p>{{ history.pk }}번 모임</p>
    <font size="5">모임명: {{ history.title }}</font><br>
    <font size="5">날짜 및 시간: {{ history.year }}-{{ history.month }}-{{ history.day }}, {{ history.hour }}시 {{ history.min }}분 | </font>
    <font size="5">출발지: {{ history.start }}</font><br>
    <a href="{% url 'bs:detail' history.pk %}"><input type="submit" value="모임상세보기"></a>

    <hr>
    {% endfor %}

    {% if user.is_authenticated %}
        <a href="{% url 'bs:new' %}">[새 모임]</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">[Log in First]</a>
    {% endif %}
    <hr>
{% endblock %}